html, body {
  padding: 0;
  margin: 10px 0px 0px 10px;
  overflow-x: hidden;
  background-color: #ffcc33;
  font-family: Arial;
}

* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
}

.clickBtn{
  color:  black;
  background-color: rgb(55, 205, 224);
  padding: 6px 10px;
  border: none;
  border-radius: 5px;
  margin-bottom: 15px;
  cursor: pointer;
  display: block;
}

.randomImage{
  width: 100px;
  object-fit: contain;
  object-position: center;
  border: 3px solid green;
  border-radius: 56px;
  display: block;
  margin-bottom: 10px;
}

.gender{
  font-weight: 500;
}

footer {
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  align-items: center;
  gap: 15px;

  font-size: 15px;
}

footer img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

footer a {
  display: flex;
  align-items: center;
  gap: 6px; /* Space between "GitHub" and the image */
  text-decoration: none;
  color: inherit;
}

footer strong {
  font-weight: bold;
}

span{
  font-weight: 300;
}